<% include common/header.ejs %>
<ul style="list-style:none">
    <li><h3><a href="http://www.baidu.com/">百度</a>&nbsp;&nbsp;&nbsp;百度一下,你就知道</h3></li>
    <li><h3><a href="https://www.google.com/">谷歌</a>&nbsp;&nbsp;&nbsp;google</h3></li>
</ul>
<% include common/footer.ejs %>
