<% include common/header.ejs %>
<form method="post">
  <div>
    <label>标题：</label><br />
    <input type="text" name="title" style="width:396px" /><br />
    标签：<br />
    <input type="text" name="tag1" />
    <input type="text" name="tag2" />
    <input type="text" name="tag3" /><br />
  </div>
  <div>
    <label>正文：</label><br />
    <textarea name="post" rows="20" cols="100"></textarea><br />
  </div>
  <div>
    <input id="postForm" type="submit" value="发表"/>
  </div>
</form>
<% include common/footer.ejs %>
