body{width:600px;margin:0 auto;padding:0;font-size:14px;font-family:"Microsoft YaHei";}
div,input,label,form{ margin:0; padding:0;}
p{line-height:24px;margin:1em 0;}
header{padding:.5em 0;border-bottom:1px solid #cccccc;}
article{font-size:16px;padding-top:.5em;}
article a{color:#dd0000;text-decoration:none;}
article a:hover{color:#333333;text-decoration:underline;}
.info{font-size:14px;}
.form_box div{ margin:10px 0; }
.form_tr{ display:inline-block; width:90px; text-align:right;}
.form_btn_blue{ width:60px; height:25px; line-height:25px; border:none; border-radius:6px; text-align:center; font-size:14px; margin-left:94px; background-color:blue; color:white; cursor:pointer;}
/* left-menu */
#left-menu{float:left;font-size:1.1em;text-transform:uppercase;margin-left:-12em;width:9em;text-align:right;}
#left-menu a{display:block;text-decoration:none;padding:.7em 1em;color:#000000;}
#left-menu .current{background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
.c-red{ color:red; }
/* page */
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
/* edit */
.edit{margin:3px;padding:2px 5px;border-radius:3px;background-color:#f3f3f3;color:#333;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#f00;color:#fff;-webkit-transition:color .2s linear;}
