<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>多人博客</title>
<link rel="stylesheet" href="/css/hd.css">
<!-- <script type="text/javascript" src="/libs/angular.min.js"></script> -->
</head>
<body>
<header>
	<h1><%= title %></h1>
</header>
<nav id="left-menu">
	<a title="主页" href="/" <% if (title == '主页') { %> class="current"  <% } %> >首页</a>
	<!-- <a title="home" href="/home" <% if (title == 'home') { %> class="current"  <% } %>  >home</a>-->
	<% if(user) { %>
	<a title="上传" href="/upload" <% if (title == '上传') { %> class="current"  <% } %>  >上传图片</a>
	<a title="发表文章" href="/post" <% if (title == '发表文章') { %> class="current"  <% } %>  >发表文章</a>
	<a title="退出" href="/logout" <% if (title == '退出') { %> class="current"  <% } %> >登出</a>
	<% } else { %>
	<a title="登录" href="/login" <% if (title == '登录') { %> class="current"  <% } %>  >登录</a>
	<a title="注册" href="/reg" <% if (title == '注册') { %> class="current"  <% } %> >注册</a>
	<% } %>
</nav>
<article>
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>
